<a href="https://colab.research.google.com/github/Akanksha10029/Python_Pandas/blob/main/Pandas_AllBasics_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [ ]:
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903

In [ ]:
df['EST'][df['WindSpeedMPH']==8.0]

0      1/1/2016
2      1/3/2016
8      1/9/2016
28    1/29/2016
Name: EST, dtype: object

In [ ]:
#shape tells the rows and columns
df.shape

(31, 11)

In [ ]:
df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [ ]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

In [ ]:
#std prints the standard deviation
df['Sea Level PressureIn'].std()

0.23723678113349272

In [ ]:
'''describe() provides summary statistics of the numeric columns within that DataFrame.
Count: The number of non-null values in each numeric column.
Mean: The mean (average) value of each numeric column.
Standard Deviation (std): The standard deviation, which measures the dispersion or spread of data, for each numeric column.
Minimum (min): The minimum value in each numeric column.
25th Percentile (25%): The value below which 25% of the data falls for each numeric column (the first quartile).
50th Percentile (50%): The median or middle value for each numeric column (the second quartile).
75th Percentile (75%): The value below which 75% of the data falls for each numeric column (the third quartile).
Maximum (max): The maximum value in each numeric column.
'''
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.225806,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,3.422569,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,0.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.000000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [ ]:
import pandas as pd
df=pd.read_csv('/content/nyc_weather.csv')
df[['EST','Temperature']].max()

EST            1/9/2016
Temperature          50
dtype: object

In [ ]:
df[['EST','Temperature']][df.Temperature==df['Temperature'].max()]

         EST  Temperature
9  1/10/2016           50

In [ ]:
df[['EST','Sea Level PressureIn','WindSpeedMPH',]].head()

        EST  Sea Level PressureIn  WindSpeedMPH
0  1/1/2016                 30.03           8.0
1  1/2/2016                 30.02           7.0
2  1/3/2016                 29.86           8.0
3  1/4/2016                 30.05           9.0
4  1/5/2016                 30.57           5.0

In [ ]:
import pandas as pd
df=pd.read_csv('/content/nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
df.set_index('EST', inplace=True)

In [ ]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
df.loc['1/31/2016']

Temperature               46
DewPoint                  28
Humidity                  52
Sea Level PressureIn    29.9
VisibilityMiles           10
WindSpeedMPH             5.0
PrecipitationIn            0
CloudCover                 0
Events                   NaN
WindDirDegrees           241
Name: 1/31/2016, dtype: object

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
import pandas as pd
df=pd.read_csv('/content/nyc_weather.csv', parse_dates=['EST'])
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
new_df=df.fillna({
    'WindSpeedMPH':'0',
    'Events':'no event'})
new_df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,no event,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,no event,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,no event,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,no event,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,no event,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,no event,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,no event,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,no event,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,0,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,0,0,1,no event,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,no event,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,no event,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,no event,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,no event,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,no event,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,no event,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,no event,312
21,2016-01-22,26,6,41,30.21,9,0,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,no event,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,no event,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,no event,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,no event,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,no event,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,no event,241

In [ ]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241